.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main-content {
  flex: 1;               
  flex-direction: column;
  display: flex;

}
.App-header {
  background-color: #00a2ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  display: flex;           
  flex-direction: row;
  min-height: 100vh;      
}

.deleted-parcels-page {
  display: flex;
  flex-direction: column;
  flex: 1; 
}

.deleted-parcels-page .content {
  flex: 1; 
}

/* css de la sidebar*/

.sidebar-container {
  background-color: #ad3044;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  width: 170px;   
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;     
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-menu a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.nav-menu a:hover {
  text-decoration: underline;
}

.user-icon {
  background-color: #fff;
  color: #1e3d58;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: default;
}

/* css del dashboard*/

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  
}

.content-section {
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  margin-top: 1rem;
}

/* css del header*/

.header-container {
  background-color: #802231;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;   
}

.header-container h1 {
  margin: 0;
  font-size: 1rem;
  color:#fff ;
}

/* css del mapa*/

.map-view-container {
  flex: 3; 
  background-color: #ffffff;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.map-placeholder {
  text-align: center;
  color: #666;
  font-size: 1rem;
}

.weather-info-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:.2rem;
  margin-top: 5rem;
  justify-content: center;


}
/* css del coso del clima*/

.weather-card {
  background-color: #ad3044;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  margin-right: 1rem;
  margin-bottom: 2rem;
  grid-template-columns: repeat(2, 1fr);
  width: 250px;
  height: 200px;
  flex: auto;
  box-shadow: rgb(51, 51, 51) 0px 7px 29px 0px;
  
    }

.weather-card h3 {
  margin: 0 0 0.5rem 0;
  font-size: 1.5rem;
  color: #ffffff;
}

.weather-card p {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  font-size: 3rem;
  color: #fff;
}

/*css del footer*/

.footer-container {
  background-color: #353535;
  text-align: center;
  padding: 0.5rem;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;   
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: .5rem;
  margin-top: 1rem;
  margin-right: .5rem;
}


.chart-card {
  background-color: #ffffff; 
  border-radius: 20px;
  padding: .8rem;
  height: 400px;
  text-align: center;
  margin: 1rem;
  width: 90%;   
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;          
}

.chart-card canvas {
  width: 100% !important;
  height: 90% !important;
}


